h1, h2, body {

  font-family:  "Helvetica";

}

h1 {

	background-color: #b9d7ea;
	text-align: center;
	font-size: 5em;
  	-webkit-text-stroke: 4px #769fcd;
  	-webkit-text-fill-color: white;
}

.outer-box-frame {
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
}

.container {

  position: relative;
  color: white;
}

.top-left {

  position: absolute;
  padding-top: 200px;
  padding-left: 50px;
  top: 0px;
  left: 0px;
}

.top-left-genesis {

  position: absolute;
  padding-top: 0px;
  padding-left: 100px;
  padding-right: 100px;
  top: 0px;
  left: 0px;
}

.top-right {

  position: absolute;
  text-align: right;
  padding-top: 200px;
  padding-right: 50px;
  top: 0px;
  right: 0px;
}

.feature {

  width: 100%;

}

.wordcloud {

  left: 80%;
  width: 675px;
  height: 675px;
  padding-top: 20px;
  padding-left: 160px;

}

#homebutton {

	object-fit: fill;
	max-height: 30px;
	max-width: 35px;
}

.topnav {

    background-color: #b9d7ea;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #284184;
  text-align: center;
  vertical-align: middle;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #284184;
}

.topnav a.active {
  background-color: white;
  color: #284184;
  border: #284184;
  border-width: 10px;
  padding-right: 15px;
}

.topnav-right {
  float: right;
  text-shadow: darkblue;
  vertical-align: middle;
  text-align: center;
  padding-right: 5px;
}

#test {
    cursor: pointer;
}

.container_button {

  display: flex;
  position: relative;
  float: left;
  justify-content: safe center;
  align-items: center;
  top: 20%;
  left: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
 }

 .footer {

  font-family: Didot, serif;
  font-size: 20px;
  width: 100% !important;  
  max-width: 100% !important;
  min-width: 100% !important;
  text-align: center;
  position: relative;
  background-color: #ddd !important; 
  opacity: .5;
  z-index:100;
  left: 0;
  height: 20px;

 }