h1, h2, body {

  font-family:  "Helvetica";

}

.outer-box-frame {
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
}

h1 {

	background-color: #b9d7ea;
	text-align: center;
	font-size: 5em;
  	-webkit-text-stroke: 4px #769fcd;
  	-webkit-text-fill-color: white;
}

h2 {

  font-size: 40px;
  color:  #284184;

}

p {

  font-size: 25px;
  text-align: justify;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  line-height: 40px;
}

a {

  font-size: 25px;
}

#homebutton {

	object-fit: fill;
	max-height: 30px;
	max-width: 35px;
}

.topnav {

    background-color: #b9d7ea;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #284184;
  text-align: center;
  vertical-align: middle;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #284184;
}

.topnav a.active {
  background-color: white;
  color: #284184;
  border: #284184;
  border-width: 10px;
  padding-right: 15px;
}

.topnav-right {
  float: right;
  text-shadow: darkblue;
  vertical-align: middle;
  text-align: center;
  padding-right: 5px;
}

#test {
    cursor: pointer;
}

.cloud {

  float:  left;
  vertical-align: middle;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 60px;
  padding-bottom: 50px;
  width: 250px;
  height: 250px;

}

.leader {

  float:  left;
  vertical-align: middle;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  width: 400px;
  height: 400px;

}

.githubcat {

  float:  left;
  vertical-align: middle;
  padding: 50px;
  width: 250px;
  height: 200px;

}

.twitterbird {

  float:  left;
  vertical-align: middle;
  padding: 60px;
  width: 250px;
  height: 325px;

}

.footer {

  font-family: Didot, serif;
  font-size: 20px;
  width: 100% !important;  
  max-width: 100% !important;
  min-width: 100% !important;
  text-align: center;
  position: relative;
  background-color: #ddd !important; 
  opacity: .5;
  z-index:100;
  left: 0;
  height: 20px;

 }